# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# Reports
report/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
